<%= provide :title, t(".page_title") %>
<h1><%= t ".page_title" %></h1>
<p>
  <%= t ".p_4_1" %> <%= link_to Settings.rails_tut.home do %>
    <i><%= t ".a_4_i" %></i> <%= t ".p_4_2" %>
  <% end %>
  <%= link_to t(".a_7"), Settings.rails_tut.book %> <%= t ".p_7" %>
  <%= link_to t(".a_8"), Settings.rails_tut.screencasts %> <%= t ".p_8" %>
  <%= link_to t(".a_9"), Settings.rails_web.home %> <%= t ".p_9" %>
</p>
