<%= provide :title, t(".page_title") %>
<h1><%= t ".page_title" %></h1>
<p>
  <%= t ".p_4" %>
  <%= link_to t(".a_5"), Settings.rails_tut.help %>.
  <%= t ".p_6" %>
  <%= link_to Settings.rails_tut.help do %>
    <i> <%= t ".a_7_i" %></i> <%= t ".a_7" %>
  <% end %>.
</p>
