<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".form_field") %>
  </div>
  <%= f.submit t(".form_submit"), class: "btn btn-primary" %>
  <span class="picture">
     <%= f.file_field :picture, accept: Settings.picture.formats %>
  </span>
<% end %>
